<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.andresjimenezm.ejemplo"
        version   = "1.0.0">
   <name>Julian Ejemplo</name>
   <description>APlicacion para el FNA Fondo Nacional de Desarrollo</description>
   <author href="http://www.andresjimenezm.com" email="contacto@andresjimenezm.com">Andres Jimenez M.</author>
   <feature name="http://api.phonegap.com/1.0/network"/>
   <feature name="http://api.phonegap.com/1.0/media"/>
   <feature name="http://api.phonegap.com/1.0/file"/>
   <feature name="http://api.phonegap.com/1.0/notification"/>
   
   <preference name="target-device" value="universal" />
   <access origin="*" />
   <!-- Icons -->
   <icon src="icon.png" width="64" height="64" gap:role="default" />
   <icon src="img/icotaxi.png" width="72" height="72" gap:platform="android" gap:density="hdpi" />
   <icon src="img/icotaxi.png" width="96" height="96" gap:platform="android" gap:density="xhdpi" />
   <icon src="img/icotaxi.png" width="72" height="72" gap:platform="ios" />
   <!-- Splash Screens -->
   <gap:splash src="img/inicio.png" />
   <gap:splash src="img/inicio.png" gap:platform="android" gap:density="ldpi" />
   <gap:splash src="simg/inicio.png" gap:platform="android" gap:density="mdpi" />
   <gap:splash src="img/inicio.png" gap:platform="android" gap:density="hdpi" />
</widget>