<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.angelhack.topo"
        version   = "1.0.0">
		
   <name>Cámara Ejemplo</name>
   <description>Cámara en local para pasar a un server</description>
   <feature name="http://api.phonegap.com/1.0/network"/>
   <feature name="http://api.phonegap.com/1.0/media"/>
   <feature name="http://api.phonegap.com/1.0/file"/>
   <feature name="http://api.phonegap.com/1.0/notification"/>
   
   
   <preference name="target-device" value="universal" />
   <access origin="*" />
   
   <!-- Permisos para la cámara-->
   <feature name="http://api.phonegap.com/1.0/camera"/>
   <feature name="http://api.phonegap.com/1.0/geolocation"/>
   <plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
   
</widget>